@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
* p {
  opacity: 70%;
}
body {
  font-family: "Roboto Mono", monospace;
}
/* in header style */
header {
  display: flex;
  justify-content: space-between;
}
.resume {
  margin-right: 166px;
  padding: 17px 24px;
  margin-top: 38px;
  width: 228px;
  height: 58px;
  background-color: white;
  border: 2px solid #0d1321;
  border-radius: 8px;
  font-weight: bold;
  color: #0d1321;
  margin-bottom: 47px;
  cursor: pointer;
}
.nav-title {
  width: 180px;
  height: 34px;
  margin-top: 50px;
  margin-left: 150px;
  color: #0d1321;
  margin-bottom: 47px;
}
/* banner section style starts here */
.banner-container {
  /* margin-top: 131px; */
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0;
  height: 650px;
  background-image: url(Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-img {
  max-width: 240.28px;
  max-height: 240px;
  margin: 0px auto;
  margin-top: 200px;
}
.banner-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 136px;
  align-items: center;
  width: 980px;
  margin: 0px auto;
  margin-bottom: 218px;
  margin-top: 90px;
}
.b-title {
  font-weight: 900;
  font-size: 50px;
  width: 1200px;
}
.banner-dec {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;
  width: 852px;
  height: 52px;
  margin-top: 30px;
  margin-left: 294px;
  margin-right: 294px;
  text-align: center;
}
/* Button style */
.click {
  width: 208px;
  height: 66px;
  border: none;
  margin-top: 32px;
  margin-bottom: 44px;
  border-radius: 8px;
  font-weight: bold;
  color: #ffffff;
  background-color: #0d1321;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  cursor: pointer;
}

/* main section page styles */

.main-page {
  border: 2px solid #0d132105;
  border-radius: 16px;
  width: 1140px;
  height: 1395px;
  margin: 0 auto;
  margin-top: 74px;
  background-color: #0d132105;
}
.main-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 39px;
  align-items: center;
  width: 852px;
  margin: 0px auto;
  margin-bottom: 24px;
  margin-top: 80px;
  font-size: 2.5rem;
}
.main-dec {
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  justify-content: center;
  margin: 0px auto;
  width: 852px;
  height: 52px;
  margin-top: 24px;
  margin: 0px auto;
  text-align: center;
  opacity: 70%;
}

/* page row-reverse */
.page1 {
  /* border: 2px solid blue; */
  width: 946px;
  height: 336px;
  border-radius: 16px;
  margin: 0 auto;
  margin-top: 48px;
  margin-bottom: 32px;
  flex-direction: row-reverse;
  background-color: white;
}
.page2 {
  /* border: 2px solid green; */
  width: 946px;
  height: 336px;
  border-radius: 16px;
  margin: 0 auto;
  margin-bottom: 32px;
  background-color: white;
}
.page3 {
  /* border: 2px solid yellow; */
  width: 946px;
  height: 336px;
  border-radius: 16px;
  margin: 0 auto;
  margin-bottom: 80px;
  flex-direction: row-reverse;
  background-color: white;
}
/* page style */
.page {
  display: flex;
  text-align: center;
}
.page h1 {
  font-weight: 700;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}
.page {
  display: flex;
  flex-direction: row;
}
/* Learn btn style */
.lear-btn {
  width: 149px;
  height: 48px;
  font-weight: bold;
  background-color: white;
  border: 2px solid #0d1321;
  font-size: 1rem;
  text-align: center;
  align-items: center;
  cursor: pointer;
  margin-top: 250px;
}
.btn1,
.btn3 {
  /* margin-left: 48px; */
  margin-right: 48px;
}

.btn2 {
  margin-right: 48px;
}

/* page-h1-p */
.page-h1-p {
  text-align: left;
}
.page-h1-p2 {
  text-align: right;
}

/* main-my-inspiration */
.my-ins {
  border: 1px solid white;
  width: 1140px;
  height: 777px;
  margin-top: 88px;
}
.yt-vid {
  margin-bottom: 0px;
  margin-top: 160px;
  border: 2px solid rgb(211, 211, 211);
  width: 1140px;
  height: 614px;
  border-radius: 16px;
  overflow: hidden;
  margin: 0 auto;
}
.ind-txt {
  text-align: center;
  align-items: center;
  margin: 0 auto;
  border: 2px solid rgb(255, 255, 255);
  width: 852px;
  height: 115px;
  margin-top: 2px;
  margin-bottom: 48px;
}
.ins-h1 {
  font-size: 2.5rem;
}
.ins-dec {
  opacity: 70%;
}
/* target section */
.target {
  border: 2px solid rgb(255, 255, 255);
  margin: 0 auto;
  width: 1140px;
  height: 463px;
  margin-top: 149px;
}
.target-txt {
  text-align: center;
  align-items: center;
  margin: 0 auto;
  border: 2px solid #ffffff;
  width: 946px;
  height: 115px;
}
.target-h1 {
  font-size: 2.5rem;
}
.target-dec {
  opacity: 70%;
  margin-top: 24px;
}
.target-cards {
  margin: 0 auto;
  border: 2px solid #ffffff;
  width: 1140px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
.card1,
.card2,
.card3 {
  border: 2px solid #ffffff;
  width: 364px;
  height: 300px;
  border-radius: 16px;
}
.card1 {
  background-color: rgba(255, 76, 30, 0.05);
}
.card2 {
  background-color: rgba(0, 76, 232, 0.05);
}
.card3 {
  background-color: rgba(255, 223, 0, 0.05);
}
.card-img {
  width: 56px;
  height: 56px;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 268px;
  margin-bottom: 24px;
}
.card-dec {
  margin-top: 8px;
  font: 1em sans-serif;
  margin-left: 40px;
  margin-bottom: 24px;
}
.cardh,
.cardc,
.cardj {
  margin-left: 40px;
}
a {
}
.load {
  color: #0d1321;
  text-decoration: underline 2px;
  margin-left: 40px;
}
